@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 110px;
    /* Margin bottom by footer height */
    background-color: #F7F7F7;
    font-family: 'Nunito', sans-serif;
    background: rgb(247, 247, 247);
    background: -moz-linear-gradient(0deg, rgba(247, 247, 247, 1) 0%, rgba(236, 236, 236, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(247, 247, 247, 1) 0%, rgba(236, 236, 236, 1) 100%);
    background: linear-gradient(0deg, rgba(247, 247, 247, 1) 0%, rgba(236, 236, 236, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ececec", GradientType=1);
}
.div_grafiaca_txt{
  height:80px;
  white-space: nowrap;
  position:relative;
  transform: rotate(270deg);
  position: absolute;
  top: 200px;
  margin: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
    margin-top: 20px;
}


/** NAVBAR **/

nav.navbar .navbar-brand img {
    max-height: 70px;
    width: auto;
}


/* nav.navbar .navbar-waves {
    background-image: url(../img/template/nav-bar-waves-02.svg);
    background-position: bottom;
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
    height: 30px;
    bottom: 0;
} */

nav.navbar>.nav-box {
    background-color: #f5f5f5;
    padding: 0 40px;
    margin-top: 30px;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-top: 9px solid rgba(0, 0, 0, 0.1);
}


/** NAVBAR ITEMS **/

.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link>span {
    font-size: 35px;
}

.navbar-expand-lg .navbar-nav .nav-link>p {
    font-size: 19px;
    font-weight: 800;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
}

.navbar-expand-lg .navbar-nav .dropdown-toggle::after {
    display: none;
}

.navbar-expand-lg .navbar-nav .nav-primary .nav-link>span>:first-child,
.navbar-expand-lg .navbar-nav .nav-secondary .nav-link>span>:first-child,
.navbar-expand-lg .navbar-nav .nav-third .nav-link>span>:first-child,
.navbar-expand-lg .navbar-nav .nav-fourth .nav-link>span>:first-child {
    transition: all 0.5s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-primary .nav-link:hover>span>:first-child,
.navbar-expand-lg .navbar-nav .nav-secondary .nav-link:hover>span>:first-child,
.navbar-expand-lg .navbar-nav .nav-third .nav-link:hover>span>:first-child,
.navbar-expand-lg .navbar-nav .nav-fourth .nav-link:hover>span>:first-child {
    transform: scale(1);
    animation: scale 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-primary .nav-link:hover>span>:last-child,
.navbar-expand-lg .navbar-nav .nav-secondary .nav-link:hover>span>:last-child,
.navbar-expand-lg .navbar-nav .nav-third .nav-link:hover>span>:last-child,
.navbar-expand-lg .navbar-nav .nav-fourth .nav-link:hover>span>:last-child {
    transform: scale-red(1);
    animation: scale-red 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-primary .nav-link:hover>p,
.navbar-expand-lg .navbar-nav .nav-secondary .nav-link:hover>p,
.navbar-expand-lg .navbar-nav .nav-third .nav-link:hover>p,
.navbar-expand-lg .navbar-nav .nav-fourth .nav-link:hover>p {
    color: rgba(0, 0, 0, 0.7);
}

.navbar-expand-lg .navbar-nav .nav-primary .nav-link[aria-expanded="true"] p {
    color: #00afeb !important;
}

.navbar-expand-lg .navbar-nav .nav-secondary .nav-link[aria-expanded="true"] p {
    color: #e98ead !important;
}

.navbar-expand-lg .navbar-nav .nav-third .nav-link[aria-expanded="true"] p {
    color: #9dc27f !important;
}

.navbar-expand-lg .navbar-nav .nav-fourth .nav-link[aria-expanded="true"] p {
    color: #9b9b9b !important;
}

.navbar-expand-lg .navbar-nav .nav-link[aria-expanded="true"]>span>:first-child {
    color: rgba(0, 0, 0, 0.05) !important;
}

.navbar-expand-lg .navbar-nav .nav-primary .nav-link[aria-expanded="true"]>span>svg:last-child {
    color: #00afeb !important;
}

.navbar-expand-lg .navbar-nav .nav-secondary .nav-link[aria-expanded="true"]>span>svg:last-child {
    color: #e98ead !important;
}

.navbar-expand-lg .navbar-nav .nav-third .nav-link[aria-expanded="true"]>span>svg:last-child {
    color: #9dc27f !important;
}

.navbar-expand-lg .navbar-nav .nav-fourth .nav-link[aria-expanded="true"]>span>svg:last-child {
    color: #9b9b9b !important;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scale-red {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-top: 2px;
    border-top: 6px solid #00afeb;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
}

.navbar-expand-lg .navbar-nav .nav-primary .dropdown-menu {
    border-top: 6px solid #00afeb;
}

.navbar-expand-lg .navbar-nav .nav-secondary .dropdown-menu {
    border-top: 6px solid #e98ead;
}

.navbar-expand-lg .navbar-nav .nav-third .dropdown-menu {
    border-top: 6px solid #9dc27f;
}

.navbar-expand-lg .navbar-nav .nav-fourth .dropdown-menu {
    border-top: 6px solid #9b9b9b;
}

.speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 19px solid transparent;
    border-bottom-color: #00aabb;
    border-top: 0;
    border-right: 0;
    margin-left: -9.5px;
    margin-top: -19px;
}


/*** NAV SMALL VIEWPORTS ***/

@media (max-width: 991px) {
    nav.navbar {
        z-index: 9;
    }
    nav.navbar .navbar-toggler {
        padding: 0.4rem 0.2rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: rgba(0, 0, 0, 0.0);
        border: 1px solid transparent;
        border-radius: 1rem;
        position: absolute;
        right: 0;
        margin-right: 38px;
        transition: all 0.3s ease;
        top: 65px;
    }
    nav.navbar .navbar-toggler .navbar-toggler-icon {
        color: black;
        font-size: 30px;
        height: auto;
    }
    nav.navbar .navbar-toggler:hover {
        background-color: rgba(0, 0, 0, 0.1);
        transform: scale(1);
        animation: scale 0.5s;
    }
    nav.navbar .navbar-text {
        background-color: rgba(0, 0, 0, 0.7);
        display: contents;
    }
    nav.navbar .navbar-text .nav-link {
        display: inline-flex;
    }
    nav.navbar .navbar-text .navbar-nav {
        margin-bottom: 21px;
        margin-top: 20px;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
    }
    nav.navbar .navbar-brand img {
        max-width: 40%;
        height: auto;
    }
}


/** MAIN Container **/

main {
    margin-top: 20px;
}

#main-index {
    margin-top: 54px;
}


/** HEADER-BG-1 **/

#header-bg-1 {
    background-image: url(../img/template/header-bg-1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
}

#content {
    margin-top: -78px;
}

.ir-arriba {
    display: none;
    background-repeat: no-repeat;
    font-size: 20px;
    color: black;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}


/* CARDS */

.card>.card-header {
    font-size: 1.42rem;
    font-weight: 800;
}


/* ---- button ---- */

.button {
    display: inline-block;
    padding: 0.5em 1.0em;
    background: #EEE;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2));
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    text-shadow: 0 1px white;
    cursor: pointer;
}

.button:hover {
    background-color: #8CF;
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
    color: #222;
}

.button:active,
.button.is-checked {
    background-color: #28F;
}

.button.is-checked {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}


/* ---- button-group ---- */

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
}

.button-group .button:first-child {
    border-radius: 0.5em 0 0 0.5em;
}

.button-group .button:last-child {
    border-radius: 0 0.5em 0.5em 0;
}


/*** Index Cards ***/

.card-index {
    border-top: 8px solid rgba(0, 0, 0, 0.09);
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    margin-top: 0px;
    transition: all 0.2s ease;
}

.card-index:hover {
    margin-top: -3px;
}

.card-index>.card-header {
    background-color: rgba(0, 0, 0, 0.07);
    margin: 15px 18px;
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 0px solid #000000;
    background: rgba(226, 226, 226, 1);
    background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(254, 254, 254, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
    background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(254, 254, 254, 1) 100%);
    background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(254, 254, 254, 1) 100%);
    background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(254, 254, 254, 1) 100%);
    background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(254, 254, 254, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
    transition: all 0.2s ease;
}

.card-index>.card-header>h5 {
    margin-top: 36px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
}

.card-index:hover>.card-header>h5 {
    color: #ffffff;
}

.card-index>.card-header>span {
    position: absolute;
    padding-left: 79%;
    top: -58px;
}

.card-index>.card-header>span>:first-child {
    border-style: solid;
    border-width: 8px;
    -webkit-box-shadow: 0px 4px 0px 1px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 4px 0px 1px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 4px 0px 1px rgba(0, 0, 0, 0.18);
}

.card-index>.card-header>span>:last-child {
    color: #ffffff;
    transition: all 0.3s ease;
}

.card-index:hover>.card-header>span>:first-child {
    color: rgba(255, 255, 255, 0.9);
}


/*** Card Index Primary ***/

.card-home-primary>.card-header>h5 {
    color: #00afeb;
}

.card-home-primary>.card-header>span>:first-child {
    border-color: #00afeb;
    background-color: #00afeb;
    color: #00afeb;
    transition: all 0.3s ease;
}

.card-home-primary:hover>.card-header>span>:last-child {
    transform: scale(1);
    animation: scale 0.5s;
    color: #00afeb;
}

.card-home-primary:hover>.card-header {
    background: #00afeb;
}


/*** Card Index Secondary ***/

.card-home-secondary>.card-header>h5 {
    color: #e98ead;
}

.card-home-secondary>.card-header>span>:first-child {
    border-color: #e98ead;
    background-color: #e98ead;
    color: #e98ead;
    transition: all 0.3s ease;
}

.card-home-secondary:hover>.card-header>span>:last-child {
    transform: scale(1);
    animation: scale 0.5s;
    color: #e98ead;
}

.card-home-secondary:hover>.card-header {
    background: #e98ead;
}


/*** Card Index Success ***/

.card-home-success>.card-header>h5 {
    color: #9dc27f;
}

.card-home-success>.card-header>span>:first-child {
    border-color: #9dc27f;
    background-color: #9dc27f;
    color: #9dc27f;
    transition: all 0.3s ease;
}

.card-home-success:hover>.card-header>span>:last-child {
    transform: scale(1);
    animation: scale 0.5s;
    color: #9dc27f;
}

.card-home-success:hover>.card-header {
    background: #9dc27f;
}


/*** Card Index Danger ***/

.card-home-danger>.card-header>h5 {
    color: #e43b3b;
}

.card-home-danger>.card-header>span>:first-child {
    border-color: #e43b3b;
    background-color: #e43b3b;
    color: #e43b3b;
    transition: all 0.3s ease;
}

.card-home-danger:hover>.card-header>span>:last-child {
    transform: scale(1);
    animation: scale 0.5s;
    color: #e43b3b;
}

.card-home-danger:hover>.card-header {
    background: #e43b3b;
}


/*** Card Index Warning ***/

.card-home-warning>.card-header>h5 {
    color: #f0a948;
}

.card-home-warning>.card-header>span>:first-child {
    border-color: #f0a948;
    background-color: #f0a948;
    color: #f0a948;
    transition: all 0.3s ease;
}

.card-home-warning:hover>.card-header>span>:last-child {
    transform: scale(1);
    animation: scale 0.5s;
    color: #f0a948;
}

.card-home-warning:hover>.card-header {
    background: #f0a948;
}


/*** Card Index Info ***/

.card-home-info>.card-header>h5 {
    color: #9b9b9b;
}

.card-home-info>.card-header>span>:first-child {
    border-color: #9b9b9b;
    background-color: #9b9b9b;
    color: #9b9b9b;
    transition: all 0.3s ease;
}

.card-home-info:hover>.card-header>span>:last-child {
    transform: scale(1);
    animation: scale 0.5s;
    color: #9b9b9b;
}

.card-home-info:hover>.card-header {
    background: #9b9b9b;
}
